<div class="container mt-5">
<h3>ユーザー一覧</h3>
<table class="table mt-3">
  <tr>
    <th class="col-2">名前</th>
    <th class="col-8">コメント</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td class="col-2"><%= user.name %> - <%= user.email %></td>
    <td>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </td>
  </tr>
<% end %>
</table>

</div>
